* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.navbar {
  height: 70px;
  padding: 0 40px;
  background: #222;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:hover {
  color: #00bfff;
}

.nav-links a.active {
  color: #00bfff;
  font-weight: bold;
}

.page {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;

  background: white;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.page h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.page p {
  font-size: 18px;
  color: #555;
}